flask
flask-sqlalchemy
flask-mail
flask-socketio
python-dotenv
flask-login
flask_oauthlib
requests-oauthlib
python-dotenv
cachetools
certifi
chardet
click
google-auth
google-auth-oauthlib
idna
itsdangerous
Jinja2
MarkupSafe
oauthlib
pyasn1
pyasn1-modules
requests
requests-oauthlib
rsa
six
urllib3
Werkzeug
unidecode
nltk
torch
numpy