@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


:root {
   --main-color: rgb(208, 208, 208);
   --main-yellow: rgb(255, 249, 224);
   --sub-yellow: rgb(245, 231, 174);
}

body {
   background-color: var(--sub-yellow);
}

:root {
   --main-color: #f8ff92;
   --red: #e74c3c;
   --orange: #f39c12;
   --light-color: #888;
   --light-bg: #eee;
   --black: #2c3e50;
   --white: #fff;
   --border: .1rem solid rgba(0, 0, 0, .2);
}

*::selection {
   background-color: var(--main-color);
   color: #fff;
}

html::-webkit-scrollbar {
   width: 1rem;
   height: .5rem;
}

html::-webkit-scrollbar-track {
   background-color: transparent;
}

html::-webkit-scrollbar-thumb {
   background-color: var(--main-color);
}

body {
   background-color: #fff9aa;
   padding-left: 30rem;
}

body.dark {
   --light-color: #aaa;
   --light-bg: #333;
   --black: #fff;
   --white: #222;
   --border: .1rem solid rgba(255, 255, 255, .2);
}

body {
   padding-left: 0;
}

section {
   padding: 2rem;
   margin: 0 auto;
   max-width: 1200px;
}

.heading {
   font-size: 2.5rem;
   color: var(--black);
   margin-bottom: 2.5rem;
   border-bottom: var(--border);
   padding-bottom: 1.5rem;
   text-transform: capitalize;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn1,
.delete-btn,
.option-btn {
   border-radius: .5rem;
   color: #fff;
   font-size: 1.8rem;
   font-size: 90.5%;
   overflow-x: hidden;
   cursor: pointer;
   text-transform: capitalize;
   padding: 1rem 3rem;
   text-align: center;
   margin-top: 1rem;
}

.btn1,
.delete-btn,
.option-btn {
   display: block;
   width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
   display: inline-block;
}

.btn1,
.inline-btn {
   background-color: var(--main-color);
}

.option-btn,
.inline-option-btn {
   background-color: var(--orange);
}

.delete-btn,
.inline-delete-btn {
   background-color: var(--red);
}

.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover,
.btn:hover,
.delete-btn:hover,
.option-btn:hover {
   background-color: var(--black);
   color: var(--white);
}

.flex-btn {
   display: flex;
   gap: 1rem;
}

.header {
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   background-color: var(--white);
   z-index: 1000;
   border-bottom: var(--border);
}

.header .flex {
   display: flex;
   align-items: center;


   padding: 1.5rem 2rem;
}

.header .flex .logo {
   font-size: 2.5rem;
   color: var(--black);
}

.header .flex .search-form {
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1.5rem 2rem;
   display: flex;
   gap: 2rem;

}

.header .flex .search-form input {
   width: 100%;
   font-size: 1.8rem;
   color: var(--black);
   background: none;
}

.header .flex .search-form button {
   background: none;
   font-size: 2rem;
   cursor: pointer;
   color: var(--black);
}

.header .flex .search-form button:hover {
   color: var(--main-color);
}

.header .flex .icons div {
   font-size: 3rem;
   color: var(--black);
   background-color: var(--light-bg);
   border-radius: .5rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   cursor: pointer;
   text-align: center;
   margin-left: .7rem;
}

.header .flex .icons div:hover {
   background-color: var(--black);
   color: var(--white);
}

.header .flex .profile {
   position: absolute;
   top: 120%;
   right: 2rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 1.5rem;
   text-align: center;
   overflow: hidden;
   transform-origin: top right;
   transform: scale(0);
   transition: .2s linear;
   width: 23rem;
   
}

.header .flex .profile.active {
   transform: scale(1);
}

.header .flex .profile .image {
   height: 10rem;
   width: 10rem;
   border-radius: 50%;

   margin-bottom: 1rem;
}

.header .flex .profile .name {
   
   font-size: 2rem;
   color: var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   
}

.header .flex .profile .role {
   font-size: 1.8rem;
   color: var(--light-color);
}

#search-btn {
   display: none;
}

.side-bar {
   position: fixed;
   top: 0;
   left: 0;
   width: 7rem;
   background-color: var(--white);
   height: 100vh;
   border-right: var(--border);
   z-index: 1200;
}

.side-bar:hover {
   width: 25rem;
}

.side-bar #close-btn {
   text-align: right;
   padding: 2rem;
   display: none;
}

.side-bar #close-btn i {
   text-align: right;
   font-size: 2.5rem;
   background: var(--red);
   border-radius: .5rem;
   color: var(--white);
   cursor: pointer;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   text-align: center;
}

.side-bar #close-btn i:hover {
   background-color: var(--black);
}

.side-bar .profile {
   padding: 3rem 2rem;
   text-align: center;
}

.side-bar .profile .image {
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: contain;
   margin-bottom: 1rem;
}

.side-bar .profile .name {
   font-size: 2rem;
   color: var(--black);
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.side-bar .profile .role {
   font-size: 1.8rem;
   color: var(--light-color);
}

.side-bar .navbar1 a {
   display: block;
   padding: 2rem;
   font-size: 2rem;
}

.side-bar .navbar1 a i {
   margin-right: 1.5rem;
   color: var(--main-color);
   transition: .2s linear;
}

.side-bar .navbar1 a span {
   color: var(--light-color);
}

.side-bar .navbar1 a:hover {
   background-color: var(--light-bg);
}

.side-bar .navbar1 a:hover i {
   margin-right: 2.5rem;
}

.side-bar.active {
   left: -30rem;
}

.home-grid .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 27.5rem);
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.home-grid .box-container .box {
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.home-grid .box-container .box .title {
   font-size: 2rem;
   color: var(--black);
   text-transform: capitalize;
}

.home-grid .box-container .box .flex {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   margin-top: 2rem;
}

.home-grid .box-container .flex a {
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding: 1rem 1.5rem;
   font-size: 1.5rem;
}

.home-grid .box-container .flex a i {
   margin-right: 1rem;
   color: var(--black);
}

.home-grid .box-container .flex a span {
   color: var(--light-color);
}

.home-grid .box-container .flex a:hover {
   background-color: var(--black);
}

.home-grid .box-container .flex a:hover span {
   color: var(--white);
}

.home-grid .box-container .flex a:hover i {
   color: var(--white);
}

.home-grid .box-container .tutor {
   padding: 1rem 0;
   font-size: 1.8rem;
   color: var(--light-color);
   line-height: 2;
}

.home-grid .box-container .likes {
   color: var(--light-color);
   font-size: 1.7rem;
   margin-top: 1.5rem;
}

.home-grid .box-container .likes span {
   color: var(--main-color);
}

.about .row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.about .row .image {
   flex: 1 1 40rem;
}

.about .row .image img {
   width: 100%;
   height: 50rem;
}

.about .row .content {
   flex: 1 1 40rem;
}

.about .row .content p {
   font-size: 1.7rem;
   line-height: 2;
   color: var(--light-color);
   padding: 1rem 0;
}

.about .row .content h3 {
   font-size: 3rem;
   color: var(--black);
   text-transform: capitalize;
}

.about .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
   margin-top: 3rem;
}

.about .box-container .box {
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
   display: flex;
   align-items: center;
   gap: 2.5rem;
}

.about .box-container .box i {
   font-size: 4rem;
   color: var(--main-color);
}

.about .box-container .box h3 {
   font-size: 2.5rem;
   color: var(--black);
   margin-bottom: .3rem;
}

.about .box-container .box p {
   font-size: 1.7rem;
   color: var(--light-color);
}

.reviews .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.reviews .box-container .box {
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
}

.reviews .box-container .box p {
   line-height: 1.7;
   font-size: 1.7rem;
   color: var(--light-color);
}

.reviews .box-container .box .student {
   margin-top: 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.reviews .box-container .box .student img {
   height: 5rem;
   width: 5rem;
   object-fit: cover;
   border-radius: 50%;
}

.reviews .box-container .box .student h3 {
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .3rem;
}

.reviews .box-container .box .student .stars {
   font-size: 1.5rem;
   color: var(--orange);
}

.courses .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.courses .box-container .box {
   border-radius: .5rem;
   background-color: var(--white);
   padding: 2rem;
}

.courses .box-container .box .tutor {
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-bottom: 2.5rem;
}

.courses .box-container .box .tutor img {
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
   object-fit: cover;
}

.courses .box-container .box .tutor h3 {
   font-size: 1.8rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.courses .box-container .box .tutor span {
   font-size: 1.3rem;
   color: var(--light-color);
}

.courses .box-container .box .thumb {
   position: relative;
}

.courses .box-container .box .thumb span {
   position: absolute;
   top: 1rem;
   left: 1rem;
   border-radius: .5rem;
   padding: .5rem 1.5rem;
   background-color: rgba(0, 0, 0, .3);
   color: #fff;
   font-size: 1.5rem;
}

.courses .box-container .box .thumb img {
   width: 100%;
   height: 20rem;
   object-fit: cover;
   border-radius: .5rem;
}

.courses .box-container .box .title {
   font-size: 2rem;
   color: var(--black);
   padding-bottom: .5rem;
   padding-top: 1rem;
}

.courses .more-btn {
   text-align: center;
   margin-top: 2rem;
}

.playlist-details .row {
   display: flex;
   align-items: flex-end;
   gap: 3rem;
   flex-wrap: wrap;
   background-color: var(--white);
   padding: 2rem;
}

.playlist-details .row .column {
   flex: 1 1 40rem;
}

.playlist-details .row .column .save-playlist {
   margin-bottom: 1.5rem;
}

.playlist-details .row .column .save-playlist button {
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1rem 1.5rem;
   cursor: pointer;
}

.playlist-details .row .column .save-playlist button i {
   font-size: 2rem;
   color: var(--black);
   margin-right: .8rem;
}

.playlist-details .row .column .save-playlist button span {
   font-size: 1.8rem;
   color: var(--light-color);
}

.playlist-details .row .column .save-playlist button:hover {
   background-color: var(--black);
}

.playlist-details .row .column .save-playlist button:hover i {
   color: var(--white);
}

.playlist-details .row .column .save-playlist button:hover span {
   color: var(--white);
}

.playlist-details .row .column .thumb {
   position: relative;
}

.playlist-details .row .column .thumb span {
   font-size: 1.8rem;
   color: #fff;
   background-color: rgba(0, 0, 0, .3);
   border-radius: .5rem;
   position: absolute;
   top: 1rem;
   left: 1rem;
   padding: .5rem 1.5rem;
}

.playlist-details .row .column .thumb img {
   height: 30rem;
   width: 100%;
   object-fit: cover;
   border-radius: .5rem;
}

.playlist-details .row .column .tutor {
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-bottom: 2rem;
}

.playlist-details .row .column .tutor img {
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.playlist-details .row .column .tutor h3 {
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.playlist-details .row .column .tutor span {
   font-size: 1.5rem;
   color: var(--light-color);
}

.playlist-details .row .column .details h3 {
   font-size: 2rem;
   color: var(--black);
   text-transform: capitalize;
}

.playlist-details .row .column .details p {
   padding: 1rem 0;
   line-height: 2;
   font-size: 1.8rem;
   color: var(--light-color);
}

.playlist-videos .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.playlist-videos .box-container .box {
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   position: relative;
}

.playlist-videos .box-container .box i {
   position: absolute;
   top: 2rem;
   left: 2rem;
   right: 2rem;
   height: 20rem;
   border-radius: .5rem;
   background-color: rgba(0, 0, 0, .3);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 5rem;
   color: #fff;
   display: none;
}

.playlist-videos .box-container .box:hover i {
   display: flex;
}

.playlist-videos .box-container .box img {
   width: 100%;
   height: 20rem;
   object-fit: cover;
   border-radius: .5rem;
}

.playlist-videos .box-container .box h3 {
   margin-top: 1.5rem;
   font-size: 1.8rem;
   color: var(--black);
}

.playlist-videos .box-container .box:hover h3 {
   color: var(--main-color);
}

.watch-video .video-container {
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.watch-video .video-container .video {
   position: relative;
   margin-bottom: 1.5rem;
}

.watch-video .video-container .video video {
   border-radius: .5rem;
   width: 100%;
   object-fit: contain;
   background-color: #000;
}

.watch-video .video-container .title {
   font-size: 2rem;
   color: var(--black);
}

.watch-video .video-container .info {
   display: flex;
   margin-top: 1.5rem;
   margin-bottom: 2rem;
   border-bottom: var(--border);
   padding-bottom: 1.5rem;
   gap: 2.5rem;
   align-items: center;
}

.watch-video .video-container .info p {
   font-size: 1.6rem;
}

.watch-video .video-container .info p span {
   color: var(--light-color);
}

.watch-video .video-container .info i {
   margin-right: 1rem;
   color: var(--main-color);
}

.watch-video .video-container .tutor {
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-bottom: 1rem;
}

.watch-video .video-container .tutor img {
   border-radius: 50%;
   height: 5rem;
   width: 5rem;
   object-fit: cover;
}

.watch-video .video-container .tutor h3 {
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.watch-video .video-container .tutor span {
   font-size: 1.5rem;
   color: var(--light-color);
}

.watch-video .video-container .flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
}

.watch-video .video-container .flex button {
   border-radius: .5rem;
   padding: 1rem 1.5rem;
   font-size: 1.8rem;
   cursor: pointer;
   background-color: var(--light-bg);
}

.watch-video .video-container .flex button i {
   margin-right: 1rem;
   color: var(--black);
}

.watch-video .video-container .flex button span {
   color: var(--light-color);
}

.watch-video .video-container .flex button:hover {
   background-color: var(--black);
}

.watch-video .video-container .flex button:hover i {
   color: var(--white);
}

.watch-video .video-container .flex button:hover span {
   color: var(--white);
}

.watch-video .video-container .description {
   line-height: 1.5;
   font-size: 1.7rem;
   color: var(--light-color);
   margin-top: 2rem;
}

.comments .add-comment {
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   margin-bottom: 3rem;
}

.comments .add-comment h3 {
   font-size: 2rem;
   color: var(--black);
   margin-bottom: 1rem;
}

.comments .add-comment textarea {
   height: 20rem;
   resize: none;
   background-color: var(--light-bg);
   border-radius: .5rem;
   border: var(--border);
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
   width: 100%;
   margin: .5rem 0;
}

.comments .box-container {
   display: grid;
   gap: 2.5rem;
   background-color: var(--white);
   padding: 2rem;
   border-radius: .5rem;
}

.comments .box-container .box .user {
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-bottom: 2rem;
}

.comments .box-container .box .user img {
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
}

.comments .box-container .box .user h3 {
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.comments .box-container .box .user span {
   font-size: 1.5rem;
   color: var(--light-color);
}

.comments .box-container .box .comment-box {
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1rem 1.5rem;
   white-space: pre-line;
   margin: .5rem 0;
   font-size: 1.8rem;
   color: var(--black);
   line-height: 1.5;
   position: relative;
   z-index: 0;
}

.comments .box-container .box .comment-box::before {
   content: '';
   position: absolute;
   top: -1rem;
   left: 1.5rem;
   background-color: var(--light-bg);
   height: 1.2rem;
   width: 2rem;
   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.teachers .search-tutor {
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   padding: 1.5rem 2rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.teachers .search-tutor input {
   width: 100%;
   background: none;
   font-size: 1.8rem;
   color: var(--black);
}

.teachers .search-tutor button {
   font-size: 2rem;
   color: var(--black);
   cursor: pointer;
   background: none;
}

.teachers .search-tutor button:hover {
   color: var(--main-color);
}

.teachers .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.teachers .box-container .box {
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.teachers .box-container .offer {
   text-align: center;
}

.teachers .box-container .offer h3 {
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
   padding-bottom: .5rem;
}

.teachers .box-container .offer p {
   line-height: 1.7;
   padding: .5rem 0;
   color: var(--light-color);
   font-size: 1.7rem;
}

.teachers .box-container .box .tutor {
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-bottom: 1.5rem;
}

.teachers .box-container .box .tutor img {
   height: 5rem;
   width: 5rem;
   border-radius: 50%;
}

.teachers .box-container .box .tutor h3 {
   font-size: 2rem;
   color: var(--black);
   margin-bottom: .2rem;
}

.teachers .box-container .box .tutor span {
   font-size: 1.6rem;
   color: var(--light-color);
}

.teachers .box-container .box p {
   padding: .5rem 0;
   font-size: 1.7rem;
   color: var(--light-color);
}

.teachers .box-container .box p span {
   color: var(--main-color);
}

.teacher-profile .details {
   text-align: center;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.teacher-profile .details .tutor img {
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.teacher-profile .details .tutor h3 {
   font-size: 2rem;
   color: var(--black);
}

.teacher-profile .details .tutor span {
   color: var(--light-color);
   font-size: 1.7rem;
}

.teacher-profile .details .flex {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   margin-top: 2rem;
}

.teacher-profile .details .flex p {
   flex: 1 1 20rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1.2rem 2rem;
   font-size: 1.8rem;
   color: var(--light-color);
}

.teacher-profile .details .flex p span {
   color: var(--main-color);
}

.user-profile .info {
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
}

.user-profile .info .user {
   text-align: center;
   margin-bottom: 2rem;
   padding: 1rem;
}

.user-profile .info .user img {
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.user-profile .info .user h3 {
   font-size: 2rem;
   color: var(--black);
}

.user-profile .info .user p {
   font-size: 1.7rem;
   color: var(--light-color);
   padding: .3rem 0;
}

.user-profile .info .box-container {
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.user-profile .info .box-container .box {
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding: 2rem;
   flex: 1 1 25rem;
}

.user-profile .info .box-container .box .flex {
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-bottom: 1rem;
}

.user-profile .info .box-container .box .flex i {
   font-size: 2rem;
   color: var(--white);
   background-color: var(--black);
   text-align: center;
   border-radius: .5rem;
   height: 5rem;
   width: 5rem;
   line-height: 4.9rem;
}

.user-profile .info .box-container .box .flex span {
   font-size: 2.5rem;
   color: var(--main-color);
}

.user-profile .info .box-container .box .flex p {
   color: var(--light-color);
   font-size: 1.7rem;
}

.contact .row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.contact .row .image {
   flex: 1 1 50rem;
}

.contact .row .image img {
   width: 100%;
}

.contact .row form {
   flex: 1 1 30rem;
   background-color: var(--white);
   padding: 2rem;
   text-align: center;
}

.contact .row form h3 {
   margin-bottom: 1rem;
   text-transform: capitalize;
   color: var(--black);
   font-size: 2.5rem;
}

.contact .row form .box {
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   margin: 1rem 0;
   padding: 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
}

.contact .row form textarea {
   height: 20rem;
   resize: none;
}

.contact .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
   margin-top: 3rem;
}

.contact .box-container .box {
   text-align: center;
   background-color: var(--white);
   border-radius: .5rem;
   padding: 3rem;
}

.contact .box-container .box i {
   font-size: 3rem;
   color: var(--main-color);
   margin-bottom: 1rem;
}

.contact .box-container .box h3 {
   font-size: 2rem;
   color: var(--black);
   margin: 1rem 0;
}

.contact .box-container .box a {
   display: block;
   padding-top: .5rem;
   font-size: 1.8rem;
   color: var(--light-color);
}

.contact .box-container .box a:hover {
   text-decoration: underline;
   color: var(--black);
}

.form-container {
   min-height: calc(100vh - 20rem);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form {
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   width: 50rem;
}

.form-container form h3 {
   font-size: 2.5rem;
   text-transform: capitalize;
   color: var(--black);
   text-align: center;
}

.form-container form p {
   font-size: 1.7rem;
   color: var(--light-color);
   padding-top: 1rem;
}

.form-container form p span {
   color: var(--red);
}

.form-container form .box {
   font-size: 1.8rem;
   color: var(--black);
   border-radius: .5rem;
   padding: 1.4rem;
   background-color: var(--light-bg);
   width: 100%;
   margin: 1rem 0;
}






.footer {
   background-color: var(--white);
   border-top: var(--border);
   position: sticky;
   bottom: 0;
   left: 0;
   right: 0;
   text-align: center;
   font-size: 2rem;
   padding: 2.5rem 2rem;
   color: var(--black);
   margin-top: 1rem;
   z-index: 1000;
   /* padding-bottom: 9.5rem; */
}

.footer span {
   color: var(--main-color);
}



@media (max-width:1200px) {

   body {
      padding-left: 0;
   }



   .side-bar #close-btn {
      display: block;
   }

   .side-bar.active {
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
      border-right: 0;
   }

}

@media (max-width:991px) {

   html {
      font-size: 55%;
   }

}

@media (max-width:768px) {

   #search-btn {
      display: inline-block;
   }

   .header .flex .search-form {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      border-radius: 0;
      width: auto;
      padding: 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .search-form.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

}

@media (max-width:450px) {

   html {
      font-size: 50%;
   }

   .flex-btn {
      gap: 0;
      flex-flow: column;
   }

   .home-grid .box-container {
      grid-template-columns: 1fr;
   }

   .about .row .image img {
      height: 25rem;
   }

}





body {
   background-color: rgba(217, 219, 206, 255);
}

nav {
   font-size: 15px;
   font-weight: 700;

}

block {
   color: white;
   background-color: #c43160;
   border-radius: 20px;
   position: relative;
   margin-left: 22%;
}

block:hover {
   background-color: #e0a5d4;
}

.logout-type {
   border: #000;
}

.logout-type-text {
   /* background-color: #000000; */

   color: rgb(0, 0, 0);
}

.card-box-top {
   margin-left: 9%;
   width: 20rem;
   height: 280px;
   float: left;
   border-color: #000;
   border-width: 2px;
   border-radius: 20px;
   text-align: center;
}

.card-box-bottom {
   margin-left: 9%;
   margin-top: 60px;
   width: 20rem;
   height: 280px;
   float: left;
   border-color: #000;
   border-width: 2px;
   border-radius: 20px;
   text-align: center;
}


.card-box-top:hover {
   box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   transition-duration: 0.5s;
   box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
   position: static;
}

.card-box-bottom:hover {
   box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
   transition-duration: 0.5s;
   box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
   position: static;
}

.card-img-rounded {
   margin-top: 10px;
   border-color: #000;
   border-style: groove;
   border-radius: 58%;
   width: 100px;
   height: 100px;
   align-self: center;
}


.card-title-main {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 700;
   font-size: large;
}


/* .text-white:hover{
    color: red;
  } */

.text-black:hover {
   color: black;
   background-color: #f2ffa1;
   ;
}

.box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
}

.title-box {
   width: 500px;
}

.title-box img {
   width: 235px;
   margin-bottom: -10px;
}

.title-box p {
   color: #000;
   font-size: 26px;
   font-weight: normal;
   line-height: 32px;
}

.form-box {
   width: 300px;
   padding: 15px;
   text-align: center;
   border-radius: 5px;
   background: #fff;
   margin-left: 60px;
   box-shadow: 0px 2px 10px 5px rgba(71, 71, 71, 0.52);
}

.form-box input {
   width: 100%;
   margin-bottom: 15px;
   padding: 15px;
   font-size: 15px;
   box-sizing: border-box;
   border: 1px solid #eeebeb;
   border-radius: 100px;
   outline: none;
}

.form-box input:focus {
   box-shadow: 0px 0px 1px 1px rgb(22, 111, 229);
}

.form-box button {
   width: 100%;
   margin-bottom: 15px;
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   border-radius: 100px;
   border: none;
   padding: 13px 0;
   cursor: pointer;
   background: #ff33cc;
}

.form-box button:hover {
   background: #b30086;
}

.form-box a {
   color: #166fe5;
   font-size: 14px;
   text-decoration: none;
   margin-top: 5px;
   margin-bottom: 20px;
   display: block;
}

.form-box a:hover {
   text-decoration: underline;
}

.form-box hr {
   border: 1px solid #dadde1;
   margin-bottom: 15px;
}

.form-box .create-btn a {
   color: #fff;
   font-size: 16px;
   text-decoration: none;
   padding: 15px 20px;
   border-radius: 100px;
   background: #b300b3;
   font-weight: 600;
   display: inline-block;
   margin-bottom: 5px;
}

.form-box .create-btn a:hover {
   background: #660066;
}

.aa {
   text-decoration: none;
   display: inline-block;
   border-radius: 20px;
   padding: 8px 16px;
}

.aa:hover {
   background-color: #ffffff;
   border-radius: 20px;
   color: black;
}

.previous {
   width: 40px;
   height: 40px;
   background-color: #f1f1f1;
   color: black;
}

.next {
   background-color: #04AA6D;
   color: white;
}

.round {
   border-radius: 50%;
}

.accordion {
   --bs-accordion-color: var(--bs-body-color);
   --bs-accordion-bg: var(--bs-body-bg);
   --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
   --bs-accordion-border-color: var(--bs-border-color);
   --bs-accordion-border-width: var(--bs-border-width);
   --bs-accordion-border-radius: var(--bs-border-radius);
   --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
   --bs-accordion-btn-padding-x: 1.25rem;
   --bs-accordion-btn-padding-y: 1rem;
   --bs-accordion-btn-color: var(--bs-body-color);
   --bs-accordion-btn-bg: var(--bs-accordion-bg);
   --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
   --bs-accordion-btn-icon-width: 1.25rem;
   --bs-accordion-btn-icon-transform: rotate(-180deg);
   --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
   --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
   --bs-accordion-btn-focus-border-color: #86b7fe;
   --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(232, 38, 223, 0.25);
   --bs-accordion-body-padding-x: 1.25rem;
   --bs-accordion-body-padding-y: 1rem;
   --bs-accordion-active-color: #000;
   --bs-accordion-active-bg: #ffb8f2;
}

.accordion-button {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
   font-size: 1rem;
   color: var(--bs-accordion-btn-color);
   text-align: center;
   background-color: var(--bs-accordion-btn-bg);
   border: 0;
   border-radius: 0;
   overflow-anchor: none;
   transition: var(--bs-accordion-transition);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (prefers-reduced-motion: reduce) {
   .accordion-button {
      transition: none;
   }
}

.accordion-button:not(.collapsed) {
   color: var(--bs-accordion-active-color);
   background-color: var(--bs-accordion-active-bg);
   box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:not(.collapsed)::after {
   background-image: var(--bs-accordion-btn-active-icon);
   transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button::after {
   flex-shrink: 0;
   width: var(--bs-accordion-btn-icon-width);
   height: var(--bs-accordion-btn-icon-width);
   margin-left: auto;
   content: "";
   background-image: var(--bs-accordion-btn-icon);
   background-repeat: no-repeat;
   background-size: var(--bs-accordion-btn-icon-width);
   transition: var(--bs-accordion-btn-icon-transition);
}

@media (prefers-reduced-motion: reduce) {
   .accordion-button::after {
      transition: none;
   }
}

.accordion-button:hover {
   z-index: 2;
}

.accordion-button:focus {
   z-index: 3;
   border-color: var(--bs-accordion-btn-focus-border-color);
   outline: 0;
   box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-header {
   margin-bottom: 0;
}

.accordion-item {
   color: var(--bs-accordion-color);
   background-color: var(--bs-accordion-bg);
   border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.accordion-item:first-of-type {
   border-top-left-radius: var(--bs-accordion-border-radius);
   border-top-right-radius: var(--bs-accordion-border-radius);
}

.accordion-item:first-of-type .accordion-button {
   border-top-left-radius: var(--bs-accordion-inner-border-radius);
   border-top-right-radius: var(--bs-accordion-inner-border-radius);
}

.accordion-item:not(:first-of-type) {
   border-top: 0;
}

.accordion-item:last-of-type {
   border-bottom-right-radius: var(--bs-accordion-border-radius);
   border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.accordion-item:last-of-type .accordion-button.collapsed {
   border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
   border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}

.accordion-item:last-of-type .accordion-collapse {
   border-bottom-right-radius: var(--bs-accordion-border-radius);
   border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.accordion-body {
   padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.accordion-flush .accordion-collapse {
   border-width: 0;
}

.accordion-flush .accordion-item {
   border-right: 0;
   border-left: 0;
   border-radius: 0;
}

.accordion-flush .accordion-item:first-child {
   border-top: 0;
}

.accordion-flush .accordion-item:last-child {
   border-bottom: 0;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
   border-radius: 0;
}

[data-bs-theme=dark] .accordion-button::after {
   --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
   --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body {
   font-family: "Lato", sans-serif;
}

.sidebar {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
}

.sidebar a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.sidebar a:hover {
   color: #f1f1f1;
}

.sidebar .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

.openbtn {
   font-size: 20px;
   cursor: pointer;
   background-color: rgba(217, 219, 206, 255);
   color: rgba(217, 219, 206, 255);
   padding: 10px 15px;
   border: none;
   position: fixed;
   height: 500px;
   opacity: 0;
}

.openbtn:hover {
   color: #000000;
   opacity: 100;
}

#main {
   transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidebar {
      padding-top: 15px;
   }

   .sidebar a {
      font-size: 18px;
   }
}

.avatar-xl img {
   width: 110px;
}

.rounded-circle {
   border-radius: 50% !important;
}

img {
   vertical-align: middle;
   border-style: none;
}

.text-muted {
   color: #000000 !important;
}

.text-muted {
   font-weight: 300;
}


.tb {
   color: #000000;
}

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
}

input:checked+.slider {
   background-color: rgba(248, 232, 109, 0.847);
}

input:focus+.slider {
   box-shadow: 0 0 1px rgba(248, 232, 109, 0.847);
}

input:checked+.slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

.c-body {
   width: 300px;
   margin-left: 20%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.container-clock {
   display: flex;
   width: 420px;
   border-radius: 8px;
   flex-direction: column;
   margin-left: 25%;
}


.circular-progress {
   position: relative;
   height: 250px;
   width: 250px;
   border-radius: 50%;
   background: conic-gradient(rgba(248, 232, 109, 0.847) 3.6deg, #ededed 0deg);
   display: flex;
   align-items: center;
   justify-content: center;
}

.circular-progress::before {
   content: "";
   position: absolute;
   height: 210px;
   width: 210px;
   border-radius: 50%;
   background-color: #fff;
}

.progress-value {
   position: relative;
   font-size: 40px;
   font-weight: 600;
   color: rgba(248, 232, 109, 0.847);
}

.text {
   font-size: 30px;
   font-weight: 500;
   color: #606060;
}

@media only screen and (max-width: 46.1875em) {
   .container-clock {
      display: flex;
      width: 420px;
      border-radius: 8px;
      flex-direction: column;
      margin-left: 18%;
   }
}

.inplace::placeholder {
   font: 100px;
}

.form_group {
   font-size: x-large;
}

.form_group::placeholder {

   font-size: x-large;
}

.chat {
   margin-top: auto;
   margin-bottom: auto;
}

.card {
   height: 500px;
   border-radius: 15px;
   background-color: rgba(230, 255, 132, 0.4);
   color: #000;
}

.contacts_body {
   padding: 0.75rem 0 !important;
   overflow-y: auto;
   white-space: nowrap;
}

.msg_card_body {
   overflow-y: auto;
}

.card-header {
   border-radius: 15px 15px 0 0 !important;
   border-bottom: 0 !important;
}

.card-footer {
   border-radius: 0 0 15px 15px !important;
   border-top: 0 !important;
}

.container {
   align-content: center;
}

.search {
   border-radius: 15px 0 0 15px !important;
   background-color: rgba(0, 0, 0, 0.3) !important;
   border: 0 !important;
   color: white !important;
}

.search:focus {
   box-shadow: none !important;
   outline: 0px !important;
}

.type_msg {
   background-color: #fdffca !important;
   border: 0 !important;
   color: rgb(0, 0, 0) !important;
   height: 60px !important;
   overflow-y: auto;
}

.type_msg:focus {
   box-shadow: none !important;
   outline: 0px !important;
}

.attach_btn {
   border-radius: 15px 0 0 15px !important;
   background-color: rgba(0, 0, 0, 0.3) !important;
   border: 0 !important;
   color: white !important;
   cursor: pointer;
}

.send_btn {
   border-radius: 0 15px 15px 0 !important;
   background-color: rgba(251, 255, 2, 0.3);
   border: 0 !important;
   color: rgb(0, 0, 0) !important;
   cursor: pointer;
   height: 60px;
}

.send_btn_record {
   cursor: pointer;
   height: 60px;
}

.search_btn {
   border-radius: 0 15px 15px 0 !important;
   background-color: rgba(0, 0, 0, 0.3) !important;
   border: 0 !important;
   color: white !important;
   cursor: pointer;
}

.contacts {
   list-style: none;
   padding: 0;
}

.contacts li {
   width: 100% !important;
   padding: 5px 10px;
   margin-bottom: 15px !important;
}

.user_img {
   height: 70px;
   width: 70px;
   border: 1.5px solid #f5f6fa;

}

.user_img_msg {
   height: 40px;
   width: 40px;
   border: 1.5px solid #f5f6fa;

}

.img_cont {
   position: relative;
   height: 70px;
   width: 70px;
}

.img_cont_msg {
   height: 40px;
   width: 40px;
}

.online_icon {
   position: absolute;
   height: 15px;
   width: 15px;
   background-color: #4cd137;
   border-radius: 50%;
   bottom: 0.2em;
   right: 0.4em;
   border: 1.5px solid white;
}

.offline {
   background-color: #c23616 !important;
}

.user_info {
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 15px;
}

.user_info span {
   font-size: 20px;
   color: rgb(0, 0, 0);
}

.user_info p {
   font-size: 10px;
   color: rgba(0, 0, 0, 0.6);
}

.video_cam {
   margin-left: 50px;
   margin-top: 5px;
}

.video_cam span {
   color: white;
   font-size: 20px;
   cursor: pointer;
   margin-right: 20px;
}

.msg_cotainer {
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 10px;
   border-radius: 25px;
   background-color: rgb(246, 255, 189);
   padding: 10px;
   position: relative;
}

.msg_cotainer_send {
   margin-top: auto;
   margin-bottom: auto;
   margin-right: 10px;
   border-radius: 25px;
   background-color: #eeff81;
   padding: 10px;
   position: relative;
}

.msg_time {
   position: absolute;
   left: 0;
   bottom: -15px;
   color: rgba(255, 255, 255, 0.5);
   font-size: 10px;
}

.msg_time_send {
   position: absolute;
   right: 0;
   bottom: -15px;
   color: rgba(255, 255, 255, 0.5);
   font-size: 10px;
}

.msg_head {
   position: relative;
}

#action_menu_btn {
   position: absolute;
   right: 10px;
   top: 10px;
   color: white;
   cursor: pointer;
   font-size: 20px;
}

.action_menu {
   z-index: 1;
   position: absolute;
   padding: 15px 0;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   border-radius: 15px;
   top: 30px;
   right: 15px;
   display: none;
}

.action_menu ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.action_menu ul li {
   width: 100%;
   padding: 10px 15px;
   margin-bottom: 5px;
}

.action_menu ul li i {
   padding-right: 10px;
}

.action_menu ul li:hover {
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
   .contacts_card {
      margin-bottom: 15px !important;
   }
}





.side_bar {
   background-color: #ededed;
   position: fixed;
   top: 0;
   left: 0;
   width: 5rem;
   height: 100vh;
   z-index: 1200;
}

.side_bar:hover {
   width: 16rem;
   transition: 0.5s;
}

.side_bar .nav_bar .side_bar_part:hover {
   background-color: #c7c0c0;
}

.side_bar .nav_bar {
   margin-top: 100px;
}

.side_bar .nav_bar a {
   display: block;
   padding: 1rem;
   font-size: 2rem;
}

.side_bar .nav_bar a:hover {
   background-color: rgb(236, 236, 236);
   transition: 0.5s;
}

.side_bar .nav_bar a:hover i {
   margin-right: 2.5rem;
}

.side_bar.active {
   left: -30rem;
}

.side_bar_img {
   width: 50px;
   margin-right: 20px;
}

.text_span {
   font-family: sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: black;
   border-color: aliceblue;
   text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
      1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.body_content {
   margin-left: 100px;
}

.question {
   position: relative;
   display: inline-flex;
   margin-top: 4vh;
   margin-left: 10vh;
   width: 120vh;
   height: 40vh;
   background-color: var(--main-yellow);
}

.question_box {
   position: absolute;
   margin-top: 2vh;
   margin-left: 5vh;
   width: 110vh;
   height: 25vh;
   border-radius: 20px;
   background-color: #eeecad;

}

.question_box p {
   margin-top: 5%;
   text-align: center;
   color: #000000;
}


.inp {
   position: absolute;
   margin-top: 30vh;
   margin-left: 5vh;
   width: 104vh;
   height: 25%;
   border-radius: 5px;
   overflow: hidden;
}

.inp .label {
   position: absolute;
   top: 20px;
   left: 12px;
   font-size: 16px;
   color: rgba(0, 0, 0, 0.5);
   font-weight: 500;
   transform-origin: 0 0;
   transform: translate3d(0, 0, 0);
   transition: all .2s ease;
   pointer-events: none;
}

.inp .focus-bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.05);
   z-index: -1;
   transform: scaleX(0);
   transform-origin: left;
}

.inp input {
   -webkit-appearance: none;
   appearance: none;
   width: 100%;
   border: 0;
   font-family: inherit;
   padding: 16px 12px 0 12px;
   height: 56px;
   font-size: 16px;
   font-weight: 400;
   background: rgba(0, 0, 0, 0.02);
   box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
   color: #000;
   transition: all .15s ease;
}

.inp input:hover {
   background: rgba(0, 0, 0, 0.04);
   box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp input:not(:placeholder-shown)+.label {
   color: rgba(0, 0, 0, 0.5);
   transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
   background: rgba(0, 0, 0, 0.05);
   outline: none;
   box-shadow: inset 0 -2px 0 var(--main-yellow);
}

.inp input:focus+.label {
   color: #000000;
   transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus+.label+.focus-bg {
   transform: scaleX(1);
   transition: all .1s ease;
}


.clock {
   float: right;
   margin-top: 4vh;
   margin-right: 10vh;
   width: 49vh;
   height: 40vh;
   background-color: var(--main-yellow);
}

.container-clock {
   margin-top: 2vh;
   margin-left: 10vh;
   position: absolute;
   display: flex;
   width: 10vh;
   border-radius: 8px;
   flex-direction: column;

}


.circular_progress {
   position: relative;
   height: 220px;
   width: 220px;
   border-radius: 50%;
   background: conic-gradient(rgba(248, 232, 109, 0.847) 3.6deg, #ededed 0deg);
   display: flex;
   align-items: center;
   justify-content: center;
}

/* .circular_progress::before {
   content: "";
   position: absolute;
   height: 210px;
   width: 210px;
   border-radius: 50%;
   background-color: #ffffff;
} */

.circular_static {
   content: "";
   position: absolute;
   height: 180px;
   width: 180px;
   border-radius: 50%;
   background-color: #ffffff;
}

.progress_value {
   position: relative;
   font-size: 40px;
   font-weight: 600;
   color: rgba(248, 232, 109, 0.847);
}

.text {
   font-size: 30px;
   font-weight: 500;
   color: #606060;
}

#clock_input {
   margin-top: 35vh;
}

@media only screen and (max-width: 46.1875em) {
   .container-clock {
      display: flex;
      width: 420px;
      border-radius: 8px;
      flex-direction: column;
      margin-left: 18%;
   }
}


.note {
   position: relative;
   display: inline-flex;
   margin-top: 4vh;
   margin-left: 10vh;
   width: 120vh;
   height: 40vh;
   background-color: var(--main-yellow);
}

.color_pick {
   position: absolute;
   height: 30px;
   width: 430px;
   background-color: #fff;
   border-radius: 20px;
   border-style: solid;
   border-color: #000;
   border-width: 1px;
   margin-top: 2vh;
   margin-left: 6vh;
}

.color_circle {
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color: #000;
   margin-top: 5px;
   margin-left: 15px;
   border-radius: 50%;
}

.color_text {
   display: inline-flex;
   margin-top: 5px;
   margin-left: 15px;
}

.note_content {
   position: relative;
   display: inline-flex;
   border-style: unset;
   margin-top: 8vh;
   margin-left: 6vh;
   height: 22vh;
   width: 430px;
   border-radius: 20px;
}



textarea[type=text] {
   padding: 12px 20px;
}

.note_name {
   border-style: unset;
   margin-top: 2vh;
   margin-left: 6vh;
   height: 20px;
   width: 430px;
   border-radius: 20px;

}

.notes {
   margin-left: 10vh;
   margin-top: 10px;
   border-radius: 20px;
   height: 36vh;
   width: 50vh;
   background-color: #ffffff;
}

.note_made {
   display: flex;
   margin-left: 10px;
   margin-top: 10px;
   border-radius: 20px;
   height: 50px;
   width: 320px;
   background-color: #F74824;
}

.note_made_name {
   font-family: sans-serif;
   font-weight: 600;
   text-align: left;
   justify-content: center;
   align-items: center;
}

.note_made p {
   margin-left: 20px;
   margin-top: 20px;
   font-family: sans-serif;
   font-weight: 600;
}

.room_made {
   display: flex;
   margin-left: 10px;
   margin-top: 10px;
   border-radius: 20px;
   height: 50px;
   width: 400px;
   background-color: #F74824;
}

.room_made_name {
   font-family: sans-serif;
   font-weight: 600;
   text-align: left;
   justify-content: center;
   align-items: center;
}

.room_made p {
   margin-left: 20px;
   margin-top: 20px;
   font-family: sans-serif;
   font-weight: 600;
}

.chat {
   position: fixed;
   float: right;
   margin-top: 0vh;
   margin-left: 63%;
   width: 49vh;
   height: 40vh;
   background-color: var(--main-yellow);
}

.body_part {
   border-radius: 20px;
}

.create_room_button {
   width: 100%;
}

.join_room_button {
   width: 100%;
}

.room_content {
   position: relative;
   display: inline-flex;
   border-style: unset;
   margin-top: 15vh;
   margin-left: 0vh;
   height: 22vh;
   width: 450px;
   border-radius: 20px;
}

/* Phone config */
@media only screen and (max-width: 1000px) {
   .sidebar {
      width: 3rem;
   }

   .question {
      margin-top: 4vh;
      margin-left: 0px;
      width: 38vh;
      height: 19vh;
      background-color: var(--main-color);
   }

   .clock {
      float: none;
      margin-top: 4vh;
      width: 19vh;
      height: 19vh;
      background-color: aqua;
   }

   .note {
      margin-top: 4vh;
      margin-left: 0px;
      width: 38vh;
      height: 19vh;
      background-color: var(--main-color);
   }

   .chat {
      float: none;
      margin-top: 4vh;
      width: 19vh;
      height: 19vh;
      background-color: aqua;
   }
}
