<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" style="border-radius: 50px;" href="{{ url_for('static', filename='img/createenLogo.png') }} " />
    <script src="{{ url_for('static', filename='js/kitfa.js')}}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css')}}">
</head>
<body>
    {% block content %} {% endblock %}
    <!-- <img src="{{ url_for('static', filename='img/googleLogo.svg')}}"> -->
</body>
</html>