{% extends "base_room.html" %}

{% block title %}Createen{% endblock %}

{% block content %}

<div style="margin-left: 100px;">
  <p style="font-size: x-large; display: inline;">Time : </p>
<div id="time" style="display: inline;">
  <p style="font-size: x-large; display: inline;">60</p>
</div>

<p style="font-size: x-large; display: inline;" >&nbsp;&nbsp;&nbsp;Score : </p>

<p style="font-size: x-large; display: inline;" id="score">0</p>

<div style="text-align: center;" >

    
    <div class="container-fluid h-100" style="margin-top: 60px;">
      <div class="row justify-content-center h-100">
          <div class="col-md-8 col-xl-6 chat">
              <div class="card">
                  <div class="card-header msg_head">
                      <div class="d-flex bd-highlight">
                          <div class="user_info" style="color: black;">
                              <span>Thi đấu</span>
                              <p>Luyện tập đường lên đỉnh Olympia</p>
                          </div>
                      </div>
                  </div>
                  <div id="question" class="card-body msg_card_body">
                    <p style="font-size: x-large;">1. Đồi thuộc dạng địa hình núi già hay trẻ?</p>
                      

                  </div>
                  <div class="card-footer">
                      <form id="messageArea" class="input-group">
                          <input type="text" id="answer" name="msg" placeholder="Type your message..."
                              autocomplete="off" class="form-control type_msg" style="font-size: 15px;"
                              required />

                          <p class="input-group-text send_btn_record fa" onclick="record()" disabled
                              style="background-color: #fdffca; border-color: #fdffca; text-align: end; font-size: 15px;">
                              <br>&#xf130;</p>

                          <div class="input-group-append">
                              <p class="answer_btn input-group-text send_btn"
                                  style="font-size: 15px;">Send</p>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" data-toggle="modal" data-target="#exampleModal" id="challenge_btn">
    
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Timed out</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Click <a href="/dashboard">here</a> to exit 
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
<script>
    $(document).ready(function(){
        const shuffleArray = (array) => {
            // create a copy of the array so that the original array is not mutated
            const newArray = [...array];
            for (let i = newArray.length - 1; i > 0; i--) {
              const j = Math.floor(Math.random() * (i + 1));
              [newArray[i], newArray[j]] = [newArray[j], newArray[i]];
            }
            return newArray;
          };
          
        var timecnt = 15
        var innerHtml = {
            "1. Đồi thuộc dạng địa hình núi già hay trẻ?": "nui gia",
            "2. What do you call a piece of cloth used as a symbol of a country oras a signal?": "flag",
            "3. World Cup 2018 được tổ chức ở nước nào?": "nga",
            "4. Trẻ em từ 2-6 tuổi có bao nhiêu răng sữa?": "20",
            "5. Trong truyền thuyết bà Lê Chân nữ tướng tiên phong của Hai Bà Trưng xưa kia đã dùng môn thể thao nào để tuyển binh, tuyển tướng?": "dau vat",
            "6. ... Là loại than có khả năng hấp phụ mạnh, được dùng sản xuất mặt nạ phòng độc? ": "than hoat tinh",
            "7. Trên la bàn, kim chỉ hướng đông hợp với kim chỉ hướng nam 1 góc bao nhiêu độ? ": "90 do",
            "8. Trong công nghệ sản xuất máy lạnh trước đây hợp chất nào của nitơ mà dạng lỏng của nó được sử dụng làm chất gây lạnh?": "nh3",
            "9. Điểm phân cách giữa cung lồi và cung lõm của đồ thị hàm số được gọi là....": "diem uon",
            "10. Khí quyển là một lớp khí bao bọc xung quanh một thiên thể có khối lượng đủ lớn và nó được giữ lại bởi..... của thiên thể đó.": "trong luc",
        }
        
        var x = setInterval(function(){
            $("#time").empty()
            var t = '<p style="font-size: x-large; display: inline;">' + String(timecnt) + '</p>'
            $("#time").append(t)
            if (timecnt == 0){
                $("#challenge_btn").click()
                
                $.post('/res',{
                    score: score,
                    name: '{{ name }}',
                    room: '{{ data.id }}'
                })
            }
            
            timecnt--
        }, 1000)
        var cur_ques = 0
        var score = 0
        var key = Object.keys(innerHtml)[0]
        var value = Object.values(innerHtml)[cur_ques]
        $(".answer_btn").click(function(){
            answer = $("#answer").val()
            $.post('/change_answer', {
                answer : answer
            }).done(function(data){
                answer = data
                $("#answer").val('')
                $("#question").empty()
                if (answer == value){
                    console.log([answer, value])
                    score += 10
                }
                
                $("#score").text(score)
                cur_ques++
                key = Object.keys(innerHtml)[cur_ques]
                value = Object.values(innerHtml)[cur_ques]
                a = '<p style="font-size: x-large;">' + key + '</p>'
                $("#question").append(a)
            })
            
            
        })
    })
</script>
</div>




{% endblock %}