{% extends "base_main.html" %} {% block title %}Createen{% endblock %} {% block
    content %}
    <h1>Add room</h1>
    <input type="text" id="add_room_id" placeholder="Room ID" required>
    <input type="password" id="add_room_password" placeholder="Room Password" required>
    <h1>or</h1>
    <input type="text" id="add_room_link" placeholder="Room Link" required>
    <button type="submit" id="add">Add Room</button>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                <P style="color: red;"> {{ m }}</P>
            {% endfor %}
        {% endif %}
    {% endwith %}
    

    <script type="text/javascript">
        $(document).ready(function () {
            $("#add").click(function () {
                var add_room_id = $("#add_room_id").val()
                var add_room_password = $("#add_room_password").val()
                var add_room_link = $("#add_room_link").val()
                $.post("add_room",
                    {
                        add_room_id: add_room_id,
                        add_room_password: add_room_password,
                        add_room_link: add_room_link
                    },
                )
                .done(function (result) {
                    console.log(result)
                    location.reload()
                })
            });
        });
    </script>
    <h3>Room to join</h3>
    {% for m in all_rooms_attribute %}
    <div>
        <a href="useRoom/{{m.id}}">{{ m }}</a>
        <p style="display: inline">{{ m.name }}</p>
        <p style="display: inline">{{ m.description }}</p>
        <p style="display: inline">{{ m.color }}</p>
        <button id="rm{{ m.id }}">Remove</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rm{{ m.id }}").click(function () {
                console.log(123)
                $.post("remove_room",
                    {
                        remove_room_id: '{{ m.id }}',
                    },
                )
                .done(function (result) {
                    console.log(result)
                    location.reload()
                })
            });
        });
    </script>
    {% endfor %}
{% endblock %}