<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>

    <input type="text" id="add_room_id" placeholder="Room ID" required>
    <input type="password" id="add_room_password" placeholder="Room Password" required>
    <button type="submit" id="add">Add Room</button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                <P> {{ m }}</P>
            {% endfor %}
        {% endif %}
    {% endwith %}
    

    <script type="text/javascript">
        $(document).ready(function () {
            $("#add").click(function () {
                var add_room_id = $("#add_room_id").val()
                var add_room_password = $("#add_room_password").val()
                console.log(add_room_id)
                $.post("addRoom",
                    {
                        add_room_id: add_room_id,
                        add_room_password: add_room_password,
                    },
                )
                .done(function (result) {
                    console.log(result)
                    location.reload()
                })
            });
        });
    </script>
    <h3>Room to join</h3>
    {% for m in all_rooms %}
    <div>
        <a href="useRoom/{{m}}">{{ m }}</a>
        <p style="display: inline">{{ m }}</p>
        <button id="rm{{ m }}">Remove</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#rm{{ m }}").click(function () {
                console.log(123)
                $.post("removeRoom",
                    {
                        remove_room_id: '{{ m }}',
                    },
                )
                .done(function (result) {
                    console.log(result)
                    location.reload()
                })
            });
        });
    </script>
    {% endfor %}
</body>

</html>