{% extends "base_room.html" %} {% block title %}Createen{% endblock %} {% block
    content %}
    <div style="margin-left: 80px;">

        <!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">
    Room Information
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- <h1>{{ data.participants }}</h1> -->
            Room ID : <h1>{{ data.id }}</h1>
            Room Password : <h1>{{ data.password }}</h1>
            Room Link : <h1>{{ room_link }}</h1>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

        





        <!-- <h1>chat</h1> -->
        <div class="container-fluid h-100" style="margin-top: 60px;">
            <div class="row justify-content-center h-100">
                <div class="col-md-8 col-xl-6 chat">
                    <div class="card">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight">
                                <div class="user_info" style="color: black;">
                                    <span>Chat chung</span>
                                    <p>Tám đủ loại chuyện</p>
                                </div>
                            </div>
                        </div>
                        <div id="messages" class="card-body msg_card_body">
            
                            {% for m in chat %}
                            {% if m[0] == name : %}
                            <p style="float: right; height: 2px; margin-right: 8%;">{{ m[0] }}</p>
                            <div class="d-flex justify-content-end mb-4" style="margin-top: 50px; margin-right: 0px;">
                                <div class="msg_cotainer_send">{{ m[1] }}<span class="msg_time_send"></span></div>
                                <div class="img_cont_msg"><img
                                        src="{{ url_for('static', filename='photo_url/Users/')}}{{m[2]}}"
                                        class="rounded-circle user_img_msg"></div>
                            </div>
                            {% else : %}
                            <p style="margin-left: 8%; margin-bottom: 0px;">{{ m[0] }}</p>
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg"><img
                                        src="{{ url_for('static', filename='photo_url/Users/')}}{{m[2]}}"
                                        class="rounded-circle user_img_msg"></div>
                                <div class="msg_cotainer">{{ m[1] }}<span class="msg_time"></span></div>
                            </div>
                            {% endif %}
                            {% endfor %}

                        </div>
                        <div class="card-footer">
                            <form id="messageArea" class="input-group">
                                <input type="text" id="message" name="msg" placeholder="Type your message..."
                                    autocomplete="off" class="form-control type_msg" style="font-size: 15px;"
                                    required />

                                <p class="input-group-text send_btn_record fa" onclick="record()" disabled
                                    style="background-color: #fdffca; border-color: #fdffca; text-align: end; font-size: 15px;">
                                    <br>&#xf130;</p>

                                <div class="input-group-append">
                                    <button type="submit" id="send_btn" class="input-group-text send_btn"
                                        style="font-size: 15px;">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <br>

        <div style="text-align: center;">
            <h1>Last challenge ranking</h1>

            {% for i in range(3) %}
            Top {{ i+1}}
            <img src="{{ url_for('static', filename='photo_url/Users/'+ranking[i][2])}}" style="width: 40px;">
            <p style="text-align: center;">{{ ranking[i][3] }} : {{ranking[i][1]}} scores</p>
            {% endfor %}

            {% if user_id == data.host %}
            <h1>
                Start a challenge

            </h1>
            <button id="challenge_btn" class="btn" style="background-color: rgb(255, 255, 206);">Start</button>
            {% endif %}
            <div id="challenge_count_down">

            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" data-toggle="modal" data-target="#exampleModal" id="challenge_notification_btn">
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Start challenge</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        To start challenge, join the link : <a href="/challenge/{{ data.id }}">here</a>
                    </div>

                </div>
            </div>
        </div>

        <script>

            $(document).ready(function () {
                var socket = io.connect("http://127.0.0.1:5000/")

                socket.on('message', function (data) {
                    if (data[0] == 'challenge') {
                        if (data[1] == "{{ data.id }}") {
                            var timecnt = 2
                            var x = setInterval(function () {
                                if (timecnt >= 0) {
                                    $("#challenge_count_down").empty()
                                    $("#challenge_count_down").append(String(timecnt))

                                    timecnt--
                                }
                                else if (timecnt == -1) {

                                    $("#challenge_notification_btn").click()
                                    timecnt--
                                }
                            }, 1000)

                        }
                    }
                    else {
                        if (data[0] == "{{ data.id }}") {
                            var html = ''
                            if (data[1] == "{{ name }}") {
                                html = '<p style="float: right; height: 2px; margin-right: 8%;">' + data[1] + '</p><div class="d-flex justify-content-end mb-4" style="margin-top: 50px; margin-right: 0px;"><div class="msg_cotainer_send">' + data[2] + '<span class="msg_time_send">' + '</span></div><div class="img_cont_msg"><img src="{{url_for('static', filename='photo_url/Users/')}}' + data[3] + '" class="rounded-circle user_img_msg"></div></div>';
                            }
                            else {
                                html = '<p style="margin-left: 8%; margin-bottom: 0px;">' + data[1] + '</p><div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="{{url_for('static', filename='photo_url/Users/')}}' + data[3] + '" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data[2] + '<span class="msg_time">' + '</span></div></div>';
                            }
                            $('#messages').append(html)
                            var elem = document.getElementById('messages');
                            elem.scrollTop = elem.scrollHeight;
                        }
                    }

                })

                $("#send_btn").click(function () {
                    message = $("#message").val()
                    socket.send("{{ data.id }}" + "$$$$" + "{{ user_id }}" + "$$$$" + message)
                    $('#message').val('')
                })
                $("#challenge_btn").click(function () {
                    socket.send("challenge" + "$$$$" + "{{ data.id }}")
                })
            })

        </script>

    </div>
    {% endblock %}