<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <h1 style="
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      ">
        Change Avatar
    </h1>
    <img src="{{ url_for('static', filename='photoUrl/Users/'+photoUrl)}}" width="300px" height="300px"
        style="border-radius: 50%; margin-left: 40%" />
    <br />
    <form method="post" enctype="multipart/form-data" style="text-align: center">
        <br />
        <input class="form-control" type="file" name="new-avatar" style="width: 500px; margin-left: 33%" />
        <button class="btn btn-danger" type="submit">Send</button>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for m in
        messages %}
        <p style="color: red">{{ m }}</p>
        {% endfor %} {% endif %} {% endwith %}
    </form>
    <a href="deleteuser/{{ username }}">Delete User</a>
</body>

</html>